button {
	font-size: 60px;
	padding: 80px;
	background-color: black;
	color: white;
	position: absolute;
    bottom: 300px;
}
#caja {
	 margin-top: 200px;
     margin-left: 320px;
}
body {
     background-color: black;	
}
p {
	color: #4d4d4d;
	font-size: 120px;
	font-weight: bold;
	margin-bottom: 5px;
}
#tres {
		font-size: 70px;
}